In [0]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import csv

In [0]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [136]:
print(df.shape)
df.head()

(287, 3)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [0]:
# df.drop(df[df == 'Not assigned'],axis=0,inplace=True)
# df = df[df.Borough =='Not assigned']

In [138]:
# drop cells with a borough that is Not assigned
df = df[df.Borough != "Not assigned"]
df

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [139]:
# group neighborhoods in the same borough
df =df.groupby(["Postcode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
df

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [140]:
# for Neighborhood="Not assigned", make the value the same as Borough
for index, row in df.iterrows():
    if row["Neighbourhood"] == "Not assigned":
        row["Neighbourhood"] = row["Borough"]
        
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [141]:
df.shape

(103, 3)

In [142]:
# load the coordinates from the csv file on Coursera
coordinates = pd.read_csv("http://cocl.us/Geospatial_data")
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [143]:
# rename the column "PostalCode"
coordinates.rename(columns={"Postal Code": "Postcode"}, inplace=True)
coordinates.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [144]:
# merge two table on the column "PostalCode"
df = df.merge(coordinates, on="Postcode", how="left")
df.head()

  Postcode      Borough  ...   Latitude  Longitude
0      M1B  Scarborough  ...  43.806686 -79.194353
1      M1C  Scarborough  ...  43.784535 -79.160497
2      M1E  Scarborough  ...  43.763573 -79.188711
3      M1G  Scarborough  ...  43.770992 -79.216917
4      M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]

In [146]:
# create a new test dataframe
column_names = ["Postcode", "Borough", "Neighbourhood", "Latitude", "Longitude"]
test_df = pd.DataFrame(columns=column_names)

test_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in test_list:
    test_df = test_df.append(df[df["Postcode"]==postcode], ignore_index=True)
    
test_df

   Postcode           Borough  ...   Latitude  Longitude
0       M5G  Downtown Toronto  ...  43.657952 -79.387383
1       M2H        North York  ...  43.803762 -79.363452
2       M4B         East York  ...  43.706397 -79.309937
3       M1J       Scarborough  ...  43.744734 -79.239476
4       M4G         East York  ...  43.709060 -79.363452
5       M4M      East Toronto  ...  43.659526 -79.340923
6       M1R       Scarborough  ...  43.750072 -79.295849
7       M9V         Etobicoke  ...  43.739416 -79.588437
8       M9L        North York  ...  43.756303 -79.565963
9       M5V  Downtown Toronto  ...  43.628947 -79.394420
10      M1B       Scarborough  ...  43.806686 -79.194353
11      M5A  Downtown Toronto  ...  43.654260 -79.360636

[12 rows x 5 columns]